body {
    background: black url(../background-img/Creative-background-1.png) fixed no-repeat center;
    background-size: cover;
    height: 100%;
    margin: 0;
}

@font-face {
    font-family: "vtks-study";
    src: url(../fonts/vtks-study/vtks_study.ttf);

    font-family: "thin-pencil-handwriting";
    src: url(../fonts/thin-pencil-handwriting/Thin\ Pencil\ Handwriting.ttf);
}

div p {
    font-size: 1em;
}

div img {
    max-width: 600px;
    height: auto;

}
.thin_pencil{
    font-family: thin-pencil-handwriting;
}

.quotes {
    font-family: thin-pencil-handwriting;
    font-size: 10px;
}
#myDIV {
  }
  #myDIV div {
    text-align: center;
    padding: 30px;
    font-size: 20px;
  }

  .Text_Background {
    background-color: white;
  }

@media all and (min-width: 1024px) {

}

@media all and (min-width: 769px) {
    div p {
        font-size: 1em;
    }
    
    div img {
        max-width: 600px;
        height: auto;
    
    }
    .thin_pencil{
        font-family: thin-pencil-handwriting;
    }
    
    .quotes {
        font-family: thin-pencil-handwriting;
        font-size: 10px;
    }
    #myDIV {
        height: auto;
        display: grid;
        gap: 10px;
       
        padding: 10px;
        grid-template-columns: auto auto;
      }
      #myDIV div {
        text-align: center;
        padding: 30px;
        font-size: 20px;
      }
    
      .Text_Background {
        background-color: white;
      }
}