.container {
    padding: 5em;
    text-align: center;
}

.Style {
    background-color: teal;
        
}

.fun {
    background-color: white;
    border-radius: 20px;
    color: blue;
    font-size: 2.5em;
    text-align: center;
    padding: 20px;
    font-family: amatic,sans-serif;


}

#orientation {
    max-width: 10px;
    position: absolute;
    top: 50%;
    width: 5px;



}
@font-face {
    font-family: 'amatic';
    src: url('amatic/Amatic-Bold.ttf');
}